
@page "{id:int}"
@using AlexEntityRazor.Model

@model EditCustomerModel


<div class="container">
    <h3>Edit Customer</h3>
    <hr />
    <br />
    <form method="post">
        <input asp-for="Customer.ID" type="hidden" />
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Customer.Name"></label>
                <input asp-for="Customer.Name" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label asp-for="Customer.Address"></label>
                <input asp-for="Customer.Address" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label asp-for="Customer.Contact"></label>
                <input asp-for="Customer.Contact" class="form-control" />
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <label asp-for="Customer.Services"></label>
                <input asp-for="Customer.Services" class="form-control" />
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <label asp-for="Customer.Charges"></label>
                <input asp-for="Customer.Charges" class="form-control" />
            </div>
        </div>

        <br />
        <input type="submit" value="Update" class="btn btn-primary" />
        <a class="btn btn-default" href="/ViewAllCustomer">Cancel</a>
    </form>
</div>
